<header class="main-header container-general">
  <div>
    <p>My balance</p>
    <h2>{{balance | currency: "USD"}}</h2>
  </div>
  <img src="./assets/logo.svg" alt="The logo of the company">
</header>

<main class="container-general">
  <header>
    <h2>Spending - Last 7 days</h2>
  </header>

  <section>
    <app-chart [expenses]="data$ | async"></app-chart>
  </section>

  <hr>

  <footer>
    <div>
      <div>
        Total this month
      </div>
      <div class="dark-color">
        <h1 class="total-amount">$478.33</h1>
      </div>
    </div>
    <div>
      <div class="dark-color text-to-end">
        <h4>+2.4%</h4>
      </div>
      <div>from last month</div>
    </div>
  </footer>
</main>


<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="cristianciobanu.tech">Cristian Ciobanu</a>.
</div>
