:host{
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;

  background-color: var(--color-cream);

  font-family: var(--font);
  font-size: 18px;
}

.main-header {
  background-color: var(--color-soft-red);
  color: var(--color-cream);
  display: flex;
  justify-content: space-between;



  & p{
    color: var(--color-cream);
  }
}


main{
  background-color: var(--color-pale-orange);
  color: var(--color-dark-brown);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  & footer {
    color: var(--color-medium-brown);
    display: flex;
    justify-content: space-between;

    div:last-child{
      align-self: end;
    }
  }

  & header {
    & h2{
      font-weight: bold;
    }
  }

  & hr{
    border:1px solid var(--color-cream);
  }

  & .total-amount{
    font-size: 2.7rem;
    font-weight: bold;
  }
}

// Given styles

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//Utilities

.container-general{
  width: 30rem;

  padding: 1.5rem;

  border-radius: 1rem;

  margin: 0.8rem;
}

.dark-color{
  color: var(--color-dark-brown);
}

.text-to-end{
  text-align: end;
}







